@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-center">ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ</h1>
    <h3 class="text-center">Khảo sát chất lượng dịch vụ tại ALT IELTS gia sư</h3>
    <a asp-action="Login" asp-controller="Home">
        <div class="col-md-4 btn btn-danger rounded-pill" style="margin-top: 100px">
            Bắt đầu
        </div>
    </a>
</div>

