
@{
    ViewData["Title"] = "Rate";
}

<h1>Rate</h1>

<div class="row d-flex justify-content-center">
    <div class="card col-8" style="background:linear-gradient(crimson,red); outline:1px solid white;">
    </div>
</div>